body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 50px; 
  background-size: 100%;
 background: rgb(255,255,255);
 background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,239,246,1) 38%, rgba(89,174,211,1) 100%);
   background-attachment: fixed;   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} /*тут по дефолту*/
 
.container {
  background-color: rgba(155, 207, 240, 0.245);
 }

h1, .h1 {
  font-size: calc(1rem + 1vw);
  text-align: center;
}

h4, .h4 {
  margin-top: 10px;
}